<form class="ui form" method="post" action="">
  <h1>Welcome!</h1>
  
  <div class="login_fields">
    <!--username-->
    <div class="field">
      <div class="four wide field">
        <label>Username</label>
        <input placeholder="Username" name="username" type="text">
      </div>
    </div>

    <!--password-->
    <div class="field">
      <div class="four wide field">
        <label>Password</label>
        <input type="password" name="password">
      </div>
    </div>
  </div>

  <button class="ui blue submit button" type="submit">Login</button>
</form>

<p>Don't have an account? <a href="/signup">Sign Up</a></p>
